.main {
	height: 100vh;
	background: var(--app-color-blue-d);
	overflow: auto;
}

.container {
	max-width: var(--app-max-width);
	margin: 0 auto;
	padding: 0rem 1.5rem;
}

.main header {
	padding: 2rem 0rem;
}

.main header svg {
	width: 8.125rem;
}

.formContainer {
	position: relative;
	width: 100%;
	max-width: 28.25rem;
	background: var(--app-color-gray-e);
	border-radius: 1.25rem;
	border: 0.063rem solid var(--app-color-gray-d);
	padding: 3rem 1.4rem;
	margin: 3rem auto;
	z-index: 100;
	overflow: hidden;
}

.formContainer::before {
	content: "";
	background: conic-gradient(
		transparent 270deg,
		var(--app-color-blue-b),
		transparent
	);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	aspect-ratio: 1;
	width: 100%;
	animation: rotate 5s linear infinite;
}

.formContainer::after {
	content: "";
	background: var(--app-color-blue-d);
	border-radius: inherit;
	position: absolute;
	inset: 0.3rem;
	height: calc(100 - 2 * 0.3rem);
	width: calc(100 - 2 * 0.3rem);
}

.formContainer * {
	position: relative;
	text-align: center;
	z-index: 20;
}

.formContainer h1 {
	color: var(--app-color-white-a);
	font-weight: 600;
	font-size: 1.75rem;
	font-family: "IBM Plex Sans", sans-serif;
	margin-bottom: 0.8rem;
}

.formContainer p {
	color: var(--app-color-white-a);
	font-weight: 300;
	font-size: 0.75rem;
	font-family: "Source Sans 3", sans-serif;
	line-height: 0.975rem;
}

.formContainer p:first-of-type {
	width: 90%;
	margin: 0 auto;
}

.formContainer a {
	color: var(--app-color-blue-b);
	text-decoration: none;
	font-weight: 700;
}

@media all and (min-width: 768px) {
	.main header svg {
		width: 9.272rem;
	}

	.formContainer {
		padding: 3rem;
	}

	.formContainer h1 {
		font-size: 2rem;
		margin-bottom: 1.2rem;
	}

	.formContainer p {
		font-size: 0.875rem;
		line-height: 1.125rem;
	}

	.formContainer p:first-of-type {
		width: 80%;
	}
}

@keyframes rotate {
	from {
		transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
	}
	to {
		transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
	}
}
