.accountDetailsHolder {
	position: relative;
}

.accountDetails {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border: 0.063rem solid var(--app-color-blue-d);
	border-radius: 3.125rem;
	cursor: pointer;
	padding: 0.8rem;
}

.accountDetails > div {
	display: flex;
	align-items: center;
	gap: 0.8rem;
}

h5.header {
	color: var(--app-color-gray-d);
	font-family: "Source Sans 3", sans-serif;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 0.943rem;
	text-align: left;
}

p.address {
	color: var(--app-color-gray-c);
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 1.138rem;
	font-family: "IBM Plex Sans", sans-serif;
}

.arrow > * {
	fill: var(--app-color-black-a);
}

.disconnectButton {
	position: absolute;
	left: 0;
	right: 0;
	display: none;
	align-items: center;
	justify-content: center;
	gap: 0.3rem;
	background: var(--app-color-blue-d);
	color: var(--app-color-white-a);
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 500;
	font-size: 1.125rem;
	line-height: 1.463rem;
	border-radius: 1.25rem;
	border: none;
	padding: 1.5rem;
	cursor: pointer;
}

.disconnectButton:disabled {
	cursor: not-allowed;
}

.showDisconnectButton {
	display: flex;
}
